.util/logs/__pycache__/*
**/__pycache__/
.testData/*
./.vscode/**/*
./output/**/*
logs_dir/**/*
**/.ipynb_checkpoints/
./notebook/.ipynb_checkpoints/*
sound/*.pt
sound/*.csv
sound/*.pickle
./*.pickle
./*.csv
.vscode
.DS_Store
data
*.pickle